<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.decoration">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="false"
        android:theme="@style/CustomTheme">
        <activity
            android:name=".HelpActivity"
            android:theme="@style/AppTheme"
            android:label="Help"/>
        <activity
            android:name=".engineer.EngineerAcceptedAppointListActivity"
            android:label="Accepted Appointment List"
            android:theme="@style/AppTheme" />
        <activity android:name=".engineer.EngineerAppointDetailsActivity" />
        <activity
            android:name=".engineer.EngineerAppointListActivity"
            android:label="Appointment List"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".customer.CustomerAppointmentActivity"
            android:label="Make Appointment"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".seller.SellerOrderListActivity"
            android:label="List Of Orders"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".customer.CustomerPaymentActivity"
            android:label="Payment Details"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".customer.CustomerMapActivity"
            android:label="Order Details"
            android:theme="@style/AppTheme" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profile" />
        <activity
            android:name=".ResetPasswordActivity"
            android:label="Reset Password" />
        <activity
            android:name=".seller.SellerHomeActivity"
            android:label="Seller Home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".engineer.EngineerHomeActivity"
            android:label="Decoration Engineer Home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".customer.CustomerHomeActivity"
            android:label="Customer Home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.AdminHomeActivity"
            android:label="Admin Home"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.UserListActivity"
            android:label="List of Users"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.UserDetailsActivity"
            android:label="User Details"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.NewUserListActivity"
            android:label="Pending Registration Requests"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.UserAdmissionActivity"
            android:label="User Registration Request"
            android:theme="@style/AppTheme" />
        <activity android:name=".customer.CustomerServiceDetailsActivity" />
        <activity android:name=".customer.CustomerItemDetailsActivity" />
        <activity
            android:name=".customer.CustomerServicesListActivity"
            android:label="List of Decoration Services"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".customer.CustomerItemsListActivity"
            android:label="List of Decoration Products"
            android:theme="@style/AppTheme" />
        <activity android:name=".engineer.ServiceDetailsActivity" />
        <activity
            android:name=".engineer.AddServiceActivity"
            android:label="Add New Service" />
        <activity
            android:name=".seller.AddItemActivity"
            android:label="Add New Item" />
        <activity android:name=".seller.ItemDetailsActivity" />
    </application>

</manifest>